#%RAML 1.0
title: sAPI - SAP Service - E
baseUri: https://mocksvc.mulesoft.com/mocks/373d86eb-900c-40f9-ad71-f8aa9486bb5d/sap # baseUri: http://localhost:8081/sap
version: 1.0

/account:
  post:
    displayName: Get Customer Account Details
    description: Get Customer Account Details
    body:
      application/json:
        example: |
          {
            "bp_number": "1003326931"
          }
    responses:
      200:
          description: return the list of accounts
          body:
            application/json:
              example: |
                {
                  "data": [
                    {
                      "BP_NO": "1003326931",
                      "ACCOUNT_NO": "008933084488",
                      "SALUTATION": "MR",
                      "BP_NAME": "BXXCEXXXXXFE",
                      "EMAIL_ADDR": "nelsonwee@spgroup.com.sg",
                      "MOBILE": "90000000",
                      "PHONE": "",
                      "FAX": "",
                      "ACCOUNT_STATUS": "Active",
                      "ACCOUNT_TYPE": "DOM",
                      "RETAILER_IDENTIFIER": "",
                      "RETAILER_NAME": "",
                      "PREMISE_NO": "2001696810",
                      "PREMISE_ADDR": "880 UPP BT TIMAH RD #01-04 SINGAPORE 678181",
                      "BLK_NO": "880",
                      "STREET": "UPP BT TIMAH RD",
                      "UNIT_NO": "#01-04",
                      "POSTCODE": "678181"
                    }
                  ]
                }
/peer_compare:
  post:
    displayName: Get Peer Comparision (EBS or MSSL)
    description: Get Peer Comparision (EBS or MSSL)
    body:
      application/json:
        example: | 
          {
              "account_number": "008933084488"
          }
    responses:
      200:
          description: return the list of accounts
          body:
            application/json:
              example: |
                {
                  "utilities": [
                    "gas",
                    "water"
                  ]
                }
/meter_install:
  post:
    displayName: Get Peer Comparision (EBS or MSSL)
    description: Get Peer Comparision (EBS or MSSL)
    body:
      application/json:
        example: | 
          {
            "account_number": "008933084488"
          }
    responses:
      200:
          description: RFC MeterInstallationDetails (EBS)
          body:
            application/json:
              example: |
                {
                  "ami": false,
                  "device_number": ""
                }
