<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.mule.tooling.runtime.muleServerLaunchType">
<listAttribute key="Mpath"/>
<stringAttribute key="Ppath" value="/Users/samuel/AnypointStudio/sp-group-final/sp-portal"/>
<stringAttribute key="clear_data" value="NEVER"/>
<booleanAttribute key="consoleEnabled" value="true"/>
<stringAttribute key="launch_mule_server_version" value="org.mule.tooling.server.3.9.1.ee"/>
<listAttribute key="mule-project-names">
<listEntry value="sp-portal"/>
<listEntry value="sp-sap-e"/>
<listEntry value="sp-sap-m"/>
<listEntry value="sp-user"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="sp-portal"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-XX:PermSize=128M -XX:MaxPermSize=256M"/>
<intAttribute key="remote-debug-port" value="6666"/>
<booleanAttribute key="remote-debug-suspend" value="false"/>
</launchConfiguration>
